<h1>All Posts</h1>
<ul>
  <% @topics.each do |topic| %>
    <li>
    <p><strong>Title:</strong> <%= link_to topic.title, topic_path(topic) %></p>
    <p><strong>Description:</strong> <%= topic.description %></p>
    <p><strong>Posted by:</strong> <%=link_to topic.user.name, user_path(topic.user) %></p>
    <% if !topic.tags.empty? %>
      <p><strong>Tags:</strong>
        <% topic.tags.all.each do |tag| %>
          <%= link_to tag.name, tag_path(tag) %>,  
        <% end %>
      </p>
    <% end %>
  <% end %>
</ul>
