<form method="post" action="/topics">
  <input name="topic[user_id]" type="hidden" value="<%= session["user_id"] %>" >
  <label for="title">Title</label>
  <input id="title" type="text" name="topic[title]"><br>
  <label for="description">Description</label>
  <textarea id="description" name="topic[description]"></textarea><br>
  <label for="topic_suggestion_description">Suggestion Description</label>
  <textarea id="topic_suggestion_description" name="topic[suggestion_attributes][description]"></textarea><br>
  <label for="topic_suggestion_url">Suggestion URL</label>
  <input id="topic_suggestion_url" type="text" name="topic[suggestion_attributes][url]"><br>
  <input name="topic[suggestion_attributes][user_id]" type="hidden" value="<%= session["user_id"] %>" >
  <input type="submit">
</form>
