<div class="jumbotron center">
  <h1>GuideMe</h1>
  <p><strong>GuideMe</strong> is a platform for posting topics and receiving suggestions from the community. Users can upvote the suggestions they think are best. Sign up or log in to learn more and contribute!</p>
  <% if user_signed_in? %>
    <!-- # do something -->
  <% else %>
    <p>
      <%= link_to "Log in", login_path, class: "btn btn-default btn-lg" %>
      <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg" %>
    </p>
  <% end %>
</div>