<div class="jumbotron center">
  <p><strong>GuideMe</strong> is a platform for posting topics and receiving suggestions from the community. Users can upvote the suggestions they think are best. Sign up or log in to learn more and contribute!</p>
  <span>Built with ♥ by 
        <a class="twitter-links" href="https://twitter.com/ahimmelstoss" target="_blank">@ahimmelstoss</a>, 
        <a class="twitter-links" href="https://twitter.com/vinneycavallo" target="_blank">@vinneycavallo</a>, 
        and <a class="twitter-links" href="https://twitter.com/Creeefs" target="_blank">@creeefs</a> at the <a target="_blank" href="http://flatironschool.com/">Flatiron School</a>.
  </span>
</div>