<div class="jumbotron center">
Amanda Himmelstoss: <a class="twitter-links" href="https://twitter.com/ahimmelstoss" target="_blank">@ahimmelstoss</a><br> 
Vinney Cavallo: <a class="twitter-links" href="https://twitter.com/vinneycavallo" target="_blank">@vinneycavallo</a><br>
Christopher Lee: <a class="twitter-links" href="https://twitter.com/Creeefs" target="_blank">@creeefs</a>
</div>