<h1>All Posts</h1>
<ul>
  <% @concerns.each do |concern| %>
    <li>
    <p><strong>Title:</strong> <%= link_to concern.title, concern_path(concern) %></p>
    <p><strong>Description:</strong> <%= concern.description %></p>
    <p><strong>Posted by:</strong> <%=link_to concern.user.name, user_path(concern.user) %></p>
    </li>
  <% end %>
</ul>
