<h1>All Concerns</h1>
<ul>
  <% @concerns.each do |concern| %>
    <li>
    <p><strong>Title:</strong> <%= link_to concern.title, concern_path(concern) %></p>
    <p><strong>Description:</strong> <%= concern.description %></p>
    </li>
  <% end %>
</ul>
