<form method="post" action="/concerns">
  <label for="title">Title</label>
  <input id="title" type="text" name="concern[title]">
  <label for="description">Description</label>
  <textarea id="description" name="concern[description]"></textarea>
  <label for="concern_response_title">Response Title</label>
  <input id="concern_response_title" type="text" name="concern[response_attributes][title]">
  <label for="concern_response_url">Response URL</label>
  <input id="concern_response_url" type="text" name="concern[response_attributes][url]">
  <input type="submit">
</form>