<form method="post" action="/concerns">
  <label for="title">Title</label>
  <input id="title" type="text" name="concern[title]">
  <label for="description">Description</label>
  <textarea id="description" name="concern[description]"></textarea>
  <input type="submit">
</form>