<footer class="navbar navbar-fixed-bottom" role="contentinfo">
  <div class="container">
    <div class="bs-social">
    </div>

    <div class="nav navbar-nav">
      <span>Built with ♥ by 
        <a href="https://twitter.com/ahimmelstoss" target="_blank">@ahimmelstoss</a>, 
        <a href="https://twitter.com/vinneycavallo" target="_blank">@vinneycavallo</a>, 
        and <a href="https://twitter.com/Creeefs" target="_blank">@creeefs</a>.
      </span>
    </div>
    
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">About</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>

  </div>
</footer>